%header
  %meta
    %catalog_url&= catalog_url
    %ead_url&= ead_url
    %repository&= repository
  %abstract&= ead.abstract.first
  %descriptive_summary
    %author&= ead.author.first
    %title&= ead.title.first
    %unitdates
      - special.unitdates.each do |unitdate|
        %date&= unitdate
    %creator&= ead.creator.first
    %extent&= ead.extent.first
    %arrangement&= ead.arrangement.first
    %subjects
      - ead.subject.each do |subject|
        %subject&= subject
    %prefercite&= ead.prefercite.first
  %collection_overview
    %bioghist!= special.bioghist
    %scopecontent!= special.scopecontent
    %processinfo!= special.processinfo
  %restrictions
    %extref_label&= ead.extref.first
    %extref_href&= ead.extref.href.first
    %accessrestrict!= special.accessrestrict
    %userestrict!= special.userestrict
  %contents
    - components.each do |c|
      = c.xpath('/c')
